.imgCG {
    position: relative;
    left: 3px;
}

.imgCG > span {
    max-width: calc(100% - 18px) !important;
    box-shadow: 12px 12px 0 black !important;
    border: 12px solid white !important;
    outline: 3px solid black !important;
    margin-bottom: 12px !important;
}

/* .chibi {
    height: 64px !important;
    width: auto !important;
    transition: 0.2s !important;
}

.chibi:hover {
    height: 80px !important;
} */